@import "style/variables.scss";
@import "style/mixins.scss";

.button {
  display: block;
  cursor: pointer;
  padding: 18px 35px 15px 35px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background: linear-gradient(180deg, #A4EFFF 0%, #00AAFF 100%);
  box-shadow:
          0 2px 0 #009FE9,
          0 4px 4px rgba(84, 106, 132, 0.25);
  color: #FFF;
  font-weight: $font-weight-bold;
  font-family: $font-family-comfortaa;
  outline: none;
  border: none;
  border-radius: 200px;
  font-size: $font-size-h3;
  line-height: 1.4em;
  box-sizing: content-box;


  &:hover {
    @media (pointer: fine) {
      background: linear-gradient(180deg, #78F7FF 0%, #50B1F7 113.56%);
      color: #FFF;
    }
  }

  &:active {
    background: linear-gradient(180deg, #59F5FF -32.63%, #50B1F7 100%);
    box-shadow: none;
  }

  &_alternate {
    background: linear-gradient(180deg, #FFFFFF 0%, #DFEAFF 100%);
    color: $color-text;
    box-shadow:
            0 2px 0 $color-accent,
            0 4px 4px rgba(84, 106, 132, 0.25),
            1px 1px 44px #F0F5FF;

    &:hover {
      @media (pointer: fine) {
        color: #59DEFF;
        box-shadow: 0 2px 0 #59DEFF,
        0 4px 4px rgba(84, 106, 132, 0.25),
        1px 1px 44px #F0F5FF;
        background: linear-gradient(180deg, #FFF 0%, #E3EDFF 142.92%);
      }
    }

    &:active {
      color: #34D6FF;
      box-shadow:
              0 1px 7px rgba(84, 106, 132, 0.25),
              1px 1px 44px #F0F5FF;
      background: linear-gradient(180deg, #FFFFFF 0%, #E3EDFF 142.92%);
    }
  }

  &_disabled, &_disabled:hover {
    background: #AAA;
    box-shadow: none;
  }
}
